body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #33ac3d;
}

.quem-somos{
    background-color: 	#008B8B;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #3f2b9b;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}